<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LFG: The Ultimate Quest</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/c4440f73eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Raleway:ital,wght@0,100;0,300;0,400;1,100;1,200&display=swap"
        rel="stylesheet">
    {{!-- <link rel="stylesheet" type="text/css" href="your/bulma/path/bulma.css" /> --}}
</head>

<body>
    {{!-- <div class="wrapper">
        <header>
            <h1>
                <a href="/">LFG</a>
            </h1>
            <nav>
                <a href="/login">login</a>
            </nav>
            <nav>
                <a href="/create-account">Register</a>
            </nav>
        </header> --}}
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

</body>

</html>