<section class="section is-transparent is-medium">
    <div class="columns is-vcentered">
      <div class="column is-centered">
        <figure class="image is-square">
          <img src="./stylesheets/assets/LFG-logo-white-transparent.png">
        </figure>
      </div>
      <div class="column">
        <h1 class="title has-text-centered has-text-white">
          Create an Account and Join the Fun!
        </h1>
        <h3 class="subtitle has-text-centered has-text-white">
          Enter your name, email and a password below. </br>If you already have an account please use the login button!
        </h3>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="name" id="name-signup" placeholder="Username">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="email" id="email-signup" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" id="password-signup" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" id="password-confirm" placeholder="Confirm Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="columns is-left">
          <div class="field is-grouped">
            <div class="column is-narrow">
              <button type="submit" id="create-account" class="button is-link is-fullwidth is-centered">Create
                Account</button>
            </div>
            <div class="column is-narrow">
              <a href="./login"><button class="button is-primary is-fullwidth is-centered">Login</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="./javascript/login.js"></script>