<section class="section is-transparent is-medium">
<div class="columns is-centered">
    <div class="column is-one-third is-vcentered">
    <figure class="image is-square">
        <img src="stylesheets/assets/LFG-logo-white-transparent.png">
    </figure>
    <h1 class="title has-text-centered has-text-white">
        Ready to Play?
    </h1>
    <h3 class="subtitle has-text-centered has-text-white">
        Login or Create Account </br> to connect with other gamers now!
    </h3>
    <div class="columns is-centered">
        <div class="field is-grouped">
        <div class="column">
            <a href="./login"><button class="button is-primary is-fullwidth is-centered">Login</button></a>
        </div>
        <div class="column">
            <a href="./create-account"><button class="button is-link is-fullwidth is-centered">Create Account</button></a>
        </div>
        </div>
        </div>
    </section>
    <section class="section is-transparent is-medium pt-0">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu has-text-white">
                    <p class="menu-label has-text-white">
                    MY INFO:
                    </p>
                    <ul class="menu-list has-text-white">
                    <li><a>My Profile</a></li>
                    <li><a>Chat Board</a></li>
                    </ul>
                    <p class="menu-label has-text-white">
                    FILTER BY INTEREST:
                    </p>
                    <ul class="menu-list has-text-white">
                        <li><a>XBOX</a></li>
                        <li><a>Playstation</a></li>
                        <li><a>Cross-Platform</a></li>
                        <li><a>MMOs</a></li>
                        <li><a>MOBAs</a></li>
                        <li><a>RTS</a></li>
                        <li><a>Sports</a></li>
                        <li><a>Board Games</a></li>
                        <li><a>Card Games</a></li>
                        <li><a>Table Top Games</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column is-10">
                <!--CARDS SHOWING USER PROFILES APPEAR HERE!-->
                <section>
                    <ol class="post-list">
                        {{#each posts as |post|}}
                            <li>
                            {{> post-info post }}
                            </li>
                        {{/each}}
                    </ol>
                </section>
                <section>
                    <h2 class="title has-text-white">Create New Post:</h2>
                    <div class="field" id+"new-post-form">
                        <div>
                            <label for="post-title" class="subtitle has-text-white">Title:</label>
                            <input type="text" id="post-title" name="post-title" />
                        </div>
                        <div>
                            <label for="post-url" class="subtitle has-text-white">Link:</label>
                            <input id="post-url" name="post-url" />
                        </div>
                        <!--ADD INTEREST KEY WORDS-->
                            <div class="field">
                                <label class="label has-text-white">Please Enter Your Console Type: XBOX, Playstation, PC or Cross-Platform</label>
                                <div class="control">
                                    <input class="input is-info" id="console" name="console" type="text" placeholder="Console Type">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label has-text-white">Please Enter Relevant Interests: MMOs, MOBAs, RTS, Sports, Board Games, Card Games, Table Top Games</label>
                                <div class="control">
                                    <input class="input is-primary" id="interest" name="interest" type="text" placeholder="Relevant Interests">
                                </div>
                            </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary" type="submit">Save</button>
                            </div>
                            <div class="control">
                                <button class="button is-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>

</body>
</html>
