<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LFG: The Ultimate Quest</title>
    <!--STYLESHEET LINKS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
    <link rel="stylesheet" href="../../public/stylesheets/style.css"/>
    <!--FONT LINKS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Raleway:ital,wght@0,100;0,300;0,400;1,100;1,200&display=swap" rel="stylesheet">
</head>

<body>

    <section class="section is-transparent is-large">
        <div class="columns is-vcentered is-centered">

            <div class="column is-one-third">
                <figure class="image is-square">
                    <img src="../public/stylesheets/assets/LFG-logo-white-transparent.png">
                </figure>
                <h1 class="title has-text-centered has-text-white">
                    Ready to Play? 
                </h1>
                <h3 class="subtitle has-text-centered has-text-white">
                    Login or Create an Account </br> to connect with other gamers now!
                </h3>
                <div class="columns is-centered">
                    <!--LOGIN BUTTON-->
                    <div class="column is-narrow">
                        <button class="button is-primary is-medium">Login</button>
                    </div>
                    <!--CREATE ACCOUNT BUTTON-->
                    <div class="column is-narrow">
                        <button class="button is-link is-medium">Create Account</button>
                    </div>
                </div>    
            </div>

            <div class="column is-two-thirds">
                <figure class="image is-5by3">
                    <img src="../public/stylesheets/assets/keyboard.jpg">
                </figure>
            </div>

        </div>

    </section>
</body>
</html>