<section class="section is-transparent">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <figure class="image is-square">
          <img src="./stylesheets/assets/LFG-logo-white-transparent.png">
        </figure>
      </div>
      <form class="column is-one-third login-form">
        <div class="column">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" id="email-login" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" id="password-login" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="columns is-left">
            <div class="field is-grouped">
              <div class="column is-narrow">
                
                <button type="submit" id="login-button" class="button login-button is-primary is-fullwidth is-centered">Login</button>
              </div>
              <div class="column is-narrow">
                <button type="button" id="create-link-button" class="button is-link is-fullwidth is-centered">Create Account</button>
          </form>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </section>
  <script src="/javascript/login.js"></script>