<!--EDIT PROFILE PAGE FORM, WILL FILL SPACE UNDER NAV BAR & TO RIGHT OF MENU-->
<div class="profile-update-form">
    <!--USERNAME-->
    <div class="field">
        <label class="label has-text-white">Username:</label>
        <div class="control has-icons-left">
            <input class="input" id="username" name="username" type="text" placeholder="Update Username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
        </div>
    </div>
    <!--EMAIL-->
    <div class="field">
        <label class="label has-text-white">Email:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" id="email" name="email" type="text" placeholder="Update Email">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>
    <!--PASSWORD-->
    <div class="field">
        <label class="label has-text-white">Password:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" id="password" name="password" type="text" placeholder="Update Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
    </div>
    <!--USER BIO-->
    <div class="field">
        <label class="label has-text-white">User Bio:</label>
        <div class="control">
            <textarea class="textarea" id="userBio" name="userBio" placeholder="Update User Bio"></textarea>
        </div>
    </div>
    <!--USER INTERESTS-->
    <div class="select is-multiple">
        <label class="label has-text-white">Update Interests:</label>
        <select multiple size="10">
            <option value="XBOX">XBOX</option>
            <option value="Playstation">Playstation</option>
            <option value="Cross-Platform">Cross-Platform</option>
            <option value="MMOs">MMOs</option>
            <option value="MOBAs">MOBAs</option>
            <option value="RTS">RTS</option>
            <option value="Sports">Sports</option>
            <option value="Board Games">Board Games</option>
            <option value="Card Games">Card Games</option>
            <option value="Table Top Games">Table Top Games</option>
        </select>
    </div>
    <!--DISCORD LINK-->
    <div class="field">
        <label class="label has-text-white">Discord Server Link:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" id="discord" name="discord" type="text" placeholder="Add Discord Link">
            <span class="icon is-small is-left">
                <i class="fa fab-discord"></i>
            </span>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit">Save</button>
        </div>
        <div class="control">
            <button class="button is-danger">Cancel</button>
        </div>
    </div>
</div>




<script src="../public/javascript/profile.js"></script>