/* FONT FAMILIES 
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
    background-image: linear-gradient(to right top, #000000, #0a0306, #11060e, #140a15, #160e1b, #17111e, #171421, #181724, #1b1a24, #1d1c23, #201f23, #222222);
}